.animacja3 {
    width:300px;
    height:300px;
    margin:10px auto;
      background-color:pink;
      animation-iteration-count: infinite;
      animation-name: animacja3;
      animation-duration: 7s;
}
  
  @keyframes animacja3 {
0% {background-color:gold; transform: scale(0.4) rotateZ(0);}
12.5% {background-color:orange; transform: scale(1) rotateZ(180deg);}
25% {background-color:orangered; transform: scale(0.6) rotateZ(360deg);}
37.5% {background-color:hotpink; transform: scale(1) rotateX(0);}
50% {background-color:pink; transform: scale(0.5) rotateX(-90deg);}
62.5% {background-color:hotpink; transform: scale(1) rotateX(-180deg);}
75% {background-color:orangered; transform: scale(0.6) rotateZ(360deg);} 
82.5% {background-color:orange; transform: scale(1) rotateZ(180deg);}
100% {background-color: gold; transform: scale(0.4) rotateZ(0);}
}